//titulo
.field.field--name-field-minititulo.field--type-string.field--label-hidden.field--item {
  margin-left: 55px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
}

//Logo
.field.field--name-field-imagen-logo.field--type-image.field--label-hidden.field--item {
  margin-top: -35px;
}

//imagen
.field.field--name-field-imagen-foto.field--type-image.field--label-hidden.field--item {
  height: 200px;
  width: 500px;
  margin-bottom: 205px;
}

//descrip
.field.field--name-field-descrip.field--type-text-with-summary.field--label-hidden.field--item {
  text-align: justify;
  margin-left: 545px;
  margin-top: 85px;
  margin-bottom: -225px;
  font-size: 17px;
}
